body{
    background-image:url(unnamed\ \(1\).webp) ;
    background-repeat: no-repeat;
    /*background-position: 100% 10%;*/
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
p{color: rgb(32, 32, 32);
}